Methods are essentially functions built into objects and can also take argument, just like a func.

methods are in the form 

object.method(arg1,arg2,arg3...)

we have argument 'self'

In [1]:
lis = [1,2,3,4,5]

In [2]:
lis.append(6)

In [3]:
lis

[1, 2, 3, 4, 5, 6]

In [4]:
lis.count(3)

1

In [6]:
help(lis.count)

Help on built-in function count:

count(...) method of builtins.list instance
    L.count(value) -> integer -- return number of occurrences of value

In [8]:
lis.pop(1)

2

In [9]:
lis

[1, 3, 4, 5, 6]

In [11]:
#functions 

#to create a docstring """
  #  here is sub function give the first arg highest number and second lowest number to get rid of negative values.
    
   # """

In [20]:
def my_sub_fun(arg1,arg2):
    """
    here is sub function give the first arg highest number and second lowest number to get rid of negative values.
    
    """
    print( arg1-arg2 )

In [21]:
my_sub_fun(5,9)

-4

In [22]:
def say_hello():
    print('hello')

In [23]:
say_hello()

hello

In [24]:
def greeting(name):
    print('hello ' + name)

In [27]:
greeting('anusha')

hello anusha

In [28]:
#will introduce a return statement

In [29]:
def my_addition(number1,number2):
    return(number1+number2)

In [32]:
print( my_addition(2,3))

5

In [33]:
x = my_addition(3,4)

In [34]:
x

7

In [35]:
x = my_addition('kou','anu')

In [36]:
x

'kouanu'

In [113]:
#func to find out prime number
def prime_func(num):
    
    """
    INPUT : number
    OUTPUT : a print statement wether or not a number is prime.
    
    """
    for n in range(2,num):
        if num % n == 0:
            n1 = num/n
            print('its not a prime because %d * %d = %d'%(n,n1,num))
            break 
    else:
        print(num,'is a prime num')

In [154]:
prime_func(345)

its not a prime because 3 * 115 = 345

In [139]:
#func to find out divisible number
def div_func(num,n):
    
    """
    INPUT : num = number, n = number to divde the num
    OUTPUT : a print statement wether or not a number is divisible by other number.
    
    """
    if num % n == 0:
        n1 = num/n
        print(num,'is divisible %d/%d = %d'%(num,n,n1))
         
    else:
        print('%d it is not divisible by %d' %(num,n))

In [155]:
div_func(345,115)

345 is divisible 345/115 = 3

In [230]:
#another way of writind code to search prime numbers 


import math


def is_prime(num):
    
    """
    INPUT : Number 
    OUTPUT : return true if it is prime return false if it is not prime
    """
    
    if num % 2 == 0 and num > 2:
        return False
    for i in range(3,int(math.sqrt(num)) + 1,2):
            if num % i == 0:
                return False 
    else:
        return True

In [231]:
is_prime(15)

False

In [197]:
#lambda expressions

In [198]:
def square(num):
    result = num**2
    return result

In [199]:
square(3)

9

In [200]:
#now shorting it 

def square(num):
    return num**2

In [202]:
square(4)

16

In [203]:
#again shorting it 

def square(num) : return num **2

In [204]:
square(2)

4

In [208]:
#now converting into lambda

square = lambda num: num**2

In [210]:
square(10)

100

In [212]:
# check if a number is even 

checkeven = lambda num: num % 2 ==0

In [214]:
checkeven(4)

True

In [215]:
# grabs a first charecter of a string 

string = lambda cha : cha[0]

In [216]:
string('hello')

'h'

In [217]:
#reverse

rev =lambda s:s[::-1]

In [218]:
rev('koushik')

'kihsuok'

In [220]:
#normal fun 

def adder(x,y):
    return x+y

In [221]:
adder(11,2)

13

In [222]:
#now in lambda 

adding = lambda x,y: x+y

In [223]:
adding(8,2)

10

In [224]:
# lambda uses in conjunction with map(), filter(), reduce()

In [2]:
#nested statements and scopes  refer jupyter notebook

In [305]:
#built in funcs


# map funtion is used to map a function and a sequence iterable such as a list to map it and create a new list.
# reduce it uses same like map function but it iterates till the list return a single integer i.e it can only be used to return a single integer.
#filter : it also uses same like map function but it filters out only booleans or ture statements.

In [3]:
#map 

def fahr(T):
    
    return (9/5)*T+32

In [4]:
fahr(0)

32.0

In [172]:
temp = [0,22.5,40,100]

In [173]:
list(map(fahr,temp))

[32.0, 72.5, 104.0, 212.0]

In [174]:
list(map(lambda T : (9/5) * T + 32,temp))

[32.0, 72.5, 104.0, 212.0]

In [13]:
lambda x,y: x+y

In [14]:
a =[1,2,3]
b =[2,3,4]
c =[8,38,3]

In [19]:
list(map(lambda a,b,c: a+b+c, a,b,c))

[11, 43, 10]

In [20]:
list(map(lambda num: num*-1,a))

[-1, -2, -3]

In [21]:
#reduce

In [46]:
lst = [23,24,3,2234,5,56,7,7,78889,9919]

In [47]:
def reddy(x,y):
    
    return x+y

In [208]:
reduce(reddy,lst)

91167

In [ ]:
#reduce in lamba expression

In [49]:
reduce(lambda x,y:x+y,lst)

91167

In [61]:
reduce(lambda x,y: x if x>y else y,lst)

78889

In [71]:
l = [0,1,5,1]

In [75]:
reduce(lambda x,y:x if(x>y) else y,l)

5

In [223]:
#filter

In [227]:
def even_check(num):
    
    if num %2 ==0:
        return True
    else:
        return False

In [230]:
ls = range(10)

In [239]:
list(filter(even_check,ls))

[0, 2, 4, 6, 8]

In [235]:
list(filter(lambda num: num%2==0 ,ls))

[0, 2, 4, 6, 8]

In [237]:
list(filter(lambda num: num%2==0 and num>3,ls))

[4, 6, 8]

In [240]:
# zip  we can use to switch the dict keys and values

In [241]:
x = [1,2,3]
y =[9,8,7]

In [244]:
list(zip(x,y))

[(1, 9), (2, 8), (3, 7)]

In [245]:
a =[9,292,100,884,100]
b = [1,2,3,4,5]

In [253]:
for pair in zip(a,b):
    print(max(pair))

9
292
100
884
100

In [254]:
list(map(lambda pair: max(pair),zip(a,b)))

[9, 292, 100, 884, 100]

In [255]:
q =[1,2,3,4,5,6,7]
w = [1,2,3,4,5,6,7,8]

In [259]:
list(zip(q,w))

[(1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (7, 7)]

In [260]:
v = {'k1':1,'k2':2}
v1= {'k3':2,'k4':4}

In [262]:
list(zip(v,v1))

[('k1', 'k3'), ('k2', 'k4')]

In [263]:
for i in v:
    print (i)

k1
k2

In [266]:
list(zip(v.values(),v1.values()))

[(1, 2), (2, 4)]

In [267]:
f1 = {'kumar': 22 ,'kiran': 23}
f2 = {'kumari':28 , 'kiranmai': 30}

In [269]:
def switchke(f1,f2):
    
    fout ={}
    
    for f1key,f2val in zip(f1,f2.values()):
        fout[f1key] = f2val
        
    return fout

In [270]:
f1

{'kiran': 23, 'kumar': 22}

In [272]:
f2

{'kiranmai': 30, 'kumari': 28}

In [274]:
switchke(f1,f2)

{'kiran': 30, 'kumar': 28}

In [275]:
switchke(f2,f1)

{'kiranmai': 23, 'kumari': 22}

In [276]:
f1

{'kiran': 23, 'kumar': 22}

In [277]:
#enumerate it allows us to keep a count as u itereate through an object

In [278]:
l = ['a','b','c']

In [279]:
count = 0
for item in l:
    print(count)
    print(item)
    count += 1

0
a
1
b
2
c

In [282]:
#the above method is not necessary

for (count,item) in enumerate(l):
    print(count)
    print(item)

0
a
1
b
2
c

In [285]:
for count,item in enumerate(l):
    
    if count >=2:
        break
    else:
        print(item)

a
b

In [291]:
i = [1,2,3,4,5,6,7,8,9,0]
k = ['a','b','c','d','e']

In [303]:
for j,item in enumerate(i):
    
    print(j)
    print(item)

0
1
1
2
2
3
3
4
4
5
5
6
6
7
7
8
8
9
9
0

In [307]:
#all() and any() are built in funcs in pthon that help us to check booleans matching in an iterable 

#all() will return true if all of the elements in an iterable is TRue
#any() will return true if any of the element in an iterable is true

In [308]:
lst=[True,True,False,True]

In [309]:
all(lst)

False

In [310]:
any(lst)

True

In [311]:
#complex can accept a string or pair of numbers
#If you are doing math or engineering that requires complex numbers 
#(such as dynamics,control systems, or impedance of a circuit)
#this is a useful tool to have in Python.

#it returns a value with a real number + imaginary*1j number

In [312]:
complex(2,200)

(2+200j)

In [313]:
complex(10,0)

(10+0j)

In [314]:
complex('10+2j')

(10+2j)

In [325]:
complex('0.567 +10j')

ValueError: complex() arg is a malformed string

In [324]:
complex('0.567+10j')

(0.567+10j)